<section class="container 75%">
	<section class="box">
		<form ng-submit="postPayment()" class="css-form">
			Receiver: <input type="text" ng-model="data.receiver" />
			Account number: <input type="text" ng-model="data.account_number" />
			Bill number: <input type="text" ng-model="data.bill_number" />
			Reference number: <input type="text" ng-model="data.reference_number" />

			<button class="button" type="submit">Submit</button>
			<button class="button special">Cancel</button>
		</form>
	</section>
</section>