<form method="post" action="" id="payment-form">
	<label for="receiver">Receiver</label>
	<input type="text" value="" id="receiver" />

	<label for="account_number">Account number</label>
	<input type="text" value="" id="account_number" />

	<label for="bill_number">Bill number</label>
	<input type="text" value="" id="bill_number" />

	<label for="reference_number">Reference number</label>
	<input type="text" value="" id="reference_number" />

	<label for="receiver">Receiver</label>
	<input type="text" value="" id="receiver" />
</form>